<mat-card>
  <mat-card-title>lsnSelect</mat-card-title>
  <mat-card-subtitle>component | selector: 'lsn-mat-select'</mat-card-subtitle>
  <mat-card-content>
    <lsn-mat-select
      placeholder="Country"
      clearLabel="Clear"
      [options]="options"
      [(ngModel)]="singleOption"
      bindLabel="description"
      bindBy="code"
    ></lsn-mat-select>
    Model value: {{singleOption | json}}
    <br/>
    <lsn-mat-select
      placeholder="Country"
      clearLabel="Clear"
      [options]="options"
      [(ngModel)]="singleOptionCode"
      bindLabel="description"
      bindValue="code"
      [errorStateMatcher]="countryCodeErrorStateMatcher"
    ></lsn-mat-select>
    Model value (bindValue="code"): {{singleOptionCode | json}}
    <br/>
    <lsn-mat-select
      placeholder="Countries"
      clearLabel="Clear"
      [options]="options"
      [(ngModel)]="multipleOptions"
      bindLabel="description"
      bindBy="code"
      [multiple]="true"
    ></lsn-mat-select>
    Model value: {{multipleOptions | json}}
  </mat-card-content>
</mat-card>
