<mat-card>
  <mat-card-title>lsnNumeric</mat-card-title>
  <mat-card-subtitle>directive | selector: 'app-numeric-card'</mat-card-subtitle>
  <mat-card-content>
    <section>
      <p>default config:</p>
      <input lsnNumeric [(ngModel)]="numeric1"/>
      model value: {{numeric1}}
    </section>
    <section>
      <p>precision with separators:</p>
      <input
        [lsnNumeric]="{precision:3, decimals: ',', thousands: '.'}"
        (lsnNumericMessages)="message($event)"
        [(ngModel)]="numeric2"
      /> model value: {{numeric2}}
    </section>
    <section>
      <p>custom configuration: </p>
      <input
        [lsnNumeric]="{config:'currency'}"
        [(ngModel)]="numeric3"
      /> model value: {{numeric3}}
    </section>
    <section>
      <p>maxlength: </p>
      <input
        [lsnNumeric]="{maxLength: 7, precision: 2, thousands: ' '}"
        [(ngModel)]="numeric4"
      /> model value: {{numeric4}}
    </section>
    <section>
      <p>min/max (updates on blur): </p>
      <input
        [lsnNumeric]="{min: 500, max: 5000, precision: 2, thousands: ' '}"
        [(ngModel)]="numeric5"
      /> model value: {{numeric5}}
    </section>
    <section>
      <p>step (updates on blur): </p>
      <input
        [lsnNumeric]="{step: 500, precision: 2, thousands: ' '}"
        [(ngModel)]="numeric6"
      /> model value: {{numeric6}}
    </section>
    <section>
      <p>noScientificNotation (updates on blur) - for large numbers: </p>
      <input
        [lsnNumeric]="{thousands: ' ', noScientificNotation: true}"
        [(ngModel)]="numeric7"
      /> model value: {{numeric7}}
    </section>
  </mat-card-content>
</mat-card>
